.side_menu {
  max-width: 320px;
  width: 100%;
}

.menu_list {
  list-style: none;
}

.menu_item {
  padding: 0;
  height: 64px;
  align-items: center;
}

.link {
  text-decoration: none;
}

.active {
  color: white;
}