.ingrPreview {
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #131316;
  object-fit: cover;
  border: 2px solid #801AB2;
  box-sizing: border-box;
  position: relative
}

.lowBrightness {
  filter: brightness(0.7);
}

.faded {
  position: relative;
}

.number {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-35%, -50%);
}