.ingredients {
  max-height: calc(100vh - 400px);
  width: 100%;
}

.container {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.wrapper {
  display: flex;
  align-items: center;
}

.price_wrapper {
  display: flex;
  margin-left: auto;
  margin-right: 25px;
}